.transactionHistory {
  width: 400px;
  margin: auto;
  border: 1px solid lightgrey;
  background-color: rgb(243, 241, 241);
  box-shadow: 0 -6px 0 #fff, 0 1px 6px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
}
.tableHeadline {
  background-color: rgba(54, 174, 174, 0.782);
  border-radius: 4px;
}
.tableHeadline th {
  padding: 5px;
  text-transform: uppercase;
  color: white;
  font-size: 10px;
  font-weight: 200;
}

.tableBody td {
  padding: 5px;
  text-align: center;
  color: grey;
  font-size: 10px;
}
.tableBody:nth-child(2n) {
  background-color: white;
}
